<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_account})}|">Show Account - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${account}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="account-nomber-field" data-z="a25cd8a2">
            	      <strong data-th-text="#{label_account_nomber}">nomber</strong>
                    <span data-th-text="*{{nomber}}">nomberValue</span>
         	        </li>
                  <li id="account-sortcode-field" data-z="ae592e2">
            	      <strong data-th-text="#{label_account_sortcode}">sortcode</strong>
                    <span data-th-text="*{{sortcode}}">sortcodeValue</span>
         	        </li>
                  <li id="account-customer-field" data-z="1cb77482">
            	      <strong data-th-text="#{label_account_customer}">customer</strong>
                    <span data-th-text="*{{customer}}">customerValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
